<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- always a good activate OnConsoleStatusListener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="logback/logback-properties.xml"/>

    <include resource="logback/logback-spring-local-console.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
